# ==========================================
# LinkedIn API
# ==========================================

CLIENT_ID_LINKEDIN=
CLIENT_SECRET_LINKEDIN=

# OAuth 2.0
# Code temporário gerado no fluxo de autenticação
LINKEDIN_AUTH_CODE=

# Token de acesso gerado após troca do authorization code
LINKEDIN_ACCESS_TOKEN=

# ==========================================
# Google Gemini API
# ==========================================

GEMINI_API_KEY=